* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 1.4rem;
    text-rendering: optimizeLegibility;
    font-family: sans-serif;
}


.SpellingCheck-container {
    width: 100%;
    min-height: 100vh;
    background-color: rgb(17, 26, 31);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.box {
    width: 400px;
    height: auto;
    box-shadow: rgba(34, 34, 53, 0.2) 0px 0px 29px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: sans-serif;
}

.play-btn {
    width: 100px;
    height: 40px;
    background-color: skyblue;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}


#AnimatedPng {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    object-fit: COVER;
    transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -o-transform: scale(0.4);
}

.show-answer {
    width: 200px;
    height: 50px;
    background-color: #272020;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
}

input {
    width: 90%;
    height: 50px;
    font-size: 16px;
    text-indent: 15px;
    outline: none;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: rgb(34, 51, 61);
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin-bottom: 20px;
}

.cancleAndNextBtn {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
   

}

.check-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(67, 133, 67);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    text-shadow: 0px 0px 2px;
    flex-shrink: 0;
}

.Next-btn {
    width: 150px;
    height: 40px;
    background-color: rgb(63, 13, 190);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin-bottom: 20px;
    cursor: pointer;
    text-shadow: 0px 0px 2px;
    flex-shrink: 0;
}








::-webkit-scrollbar {
    display: none;
}

.output {
    width: 100%;
    height: auto;

}

table {
    width: 100%;
    height: auto;
    border: none;
}

table tr th {
    width: 300px;
    text-align: start;
    padding: 10px;

}

table tr td {
    padding: 10px;

}

#overlay-box {
    width: 300px;
    height: 50px;
    background-color: rgb(170, 169, 162);
    position: absolute;
    top: -40px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    animation-duration: 2s;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    opacity: 1;
}









@media only screen and (max-width: 600px) {
    .SpellingCheck-container {
        justify-content: start;
        padding-top: 70px;

    }

    .SpellingCheck-container h3 {
        font-size: 50PX;
    }

    input {
        width: 80%;
    }

    .cancleAndNextBtn {
        flex-direction: column;
    }

    table {
        transform: scale(0.9);
        -webkit-transform: scale(0.9);
        -moz-transform: scale(0.9);
        -ms-transform: scale(0.9);
        -o-transform: scale(0.9);
        font-size: 10px;
    }

}